.task-item {
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: -1px;
    position: relative;

    &__title {
        color: #000;
        font-size: 14px;
        color: cornflowerblue;
    }
    &__description {
        color: #333;
        font-size: 12px;
    }
    &__actions-container {
        text-align: right;
    }
}
.btn-add-item {
    border-radius: 0;
    width: 100%;
    padding: 5px 0;
    font-weight: bold;
}